.error {
  font-size: 14px;
  margin-left: 20px;
  transition: all 0.4s ease;
}

.working-area {
  display: flex;
  padding: 20px 50px;
}

.feed {
  margin: 20px 50px 0 50px;
  align-items: center;
  display: flex;
}

.info {
  display: flex;
  flex-direction: column;
}

.info > * {
  margin: 10px;
}

.info > button {
  margin-top: 10px;
  background-color: rgb(228, 228, 228);
  border-radius: 10px;
  padding: 6px 16px;
  align-self: center;
}
